html body {
    background-color: #527578;
}

a:link a:hover a:active a:visited {
    color: #47423F;
    font-style: normal;
}

.home-template {
    background-color: #527578;
}

.jumbotron {
    background-color: #84978F;
}

.posts {
    color: #47423F;
}
.post {
    color: #47423F;
}
.tag {
    font-size: 7pt;
}


.navbar {
    background-color: #47423F;
}

.newer-posts .older-posts {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
}

.post-meta {
    color: #B3B1B2;
    font-size: 8pt;
}

.pagination {
    text-align: center;
}
