html body {
    background-color: #F9F6F4;
}

a:link a:hover a:active a:visited {
    color: #47423F;
    font-style: normal;
}

.home-template {
}

.jumbotron {
    background-color: #C9A798;
}

.posts {
    color: #47423F;
}
.post {
    color: #47423F;
}
.tag {
    font-size: 7pt;
}


.navbar {
    background-color: #47423F;
}

.newer-posts .older-posts {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 500;
}

.post-meta {
    color: #B3B1B2;
    font-size: 8pt;
}

.pagination {
    text-align: center;
}

.navbar {
    background: #4f2412; /* Old browsers */
    border: none;
    background: -moz-linear-gradient(top, #4f2412 0%, #190f0d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f2412), color-stop(100%,#190f0d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4f2412 0%,#190f0d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4f2412 0%,#190f0d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4f2412 0%,#190f0d 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4f2412 0%,#190f0d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f2412', endColorstr='#190f0d',GradientType=0 ); /* IE6-9 */
}
